@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css); 
@import url('https://fonts.googleapis.com/css?family=Eczar:400,700|Roboto:400,700');

/*
Style Reset
*/
    /*Supprimer toutes les marges*/
    *{
        margin: 0;
        padding: 0; 

     /* Intégrer le padding et le border dans la taille des boîtes*/
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }

     /*Configurer l'utilisation de 1rem = 10px*/

     html{
         font-size: 62.5%; 
     }

    /*Augmenter la taille du body*/

     body{
         font-size: 1.5rem; /* =>15px */
         font-weight: 400; 
         font-family: 'Roboto', sans-serif;
         text-align: center;  
     }

     h1{
         font-weight: 700;
         font-family: 'Eczar', serif;
         padding-bottom: 2rem; 
     }

     h1 span{
         font-family: 'Roboto', sans-serif;
         font-weight: 400; 
         font-size: .5em; /* =>la moitié de h1 */
         display: block; 
     }

     a, header li{
         text-decoration: none;

        -webkit-transition: all .5s;
         transition: all .5s; 
          
     }

     /*Supprimer le style des listes*/
     ul{
         list-style: none; 
     }


/*
Style header
*/
     header{
        color: snow; 
        background-color: #025BC9;
        padding: 2rem;
        position: relative;
        
     }

     nav{
         /*display: none; */
     }

     header > a{
        /*La balise A qui est enfant direct du header*/
        font-size: 1.9rem; 
        background: white; 
        width: 4rem;
        height: 4rem; 
        display: inline-block;

       -webkit-border-radius: 50%;
        border-radius: 50%;
        padding-top: .6rem;
        border: .2rem solid #025BC9;   

        /*Positionner précisément la balise*/
        position: absolute; 
        left: 50%;
        top: 100%; 
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);    
         
     }


    /* Afficher la nav au survol de la balise A du header*/
      header > a:hover + nav{
         display: block;           
      }


      /*Design des boutons changeant au survol*/
      header li{
          /*Changer l'opacité des boutons */
          background: rgba(255, 255, 255, .5);

          padding: 1rem;
          margin-bottom: 1rem;
          font-weight: 700;  
      }

      header li:hover{
          background: snow; 

      }

      header li:hover a{
          color: #025BC9; 
      }

      /*Changer la couleur du picto au survol*/

      header > a:hover{
          color: snow; 
          background-color: #025BC9;
          border-color: snow; 
      }


      /*Mettre les liens de la nav en blanc*/
      nav a{
          color: snow; 
      }

      

/*
Style Footer
*/

    footer{
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #025BC9;
            color: snow;
            padding: 2rem;
        }
    
    footer a{
        color: snow; 
    }

    /*Toutes les balises li du footer sauf la dernière*/
    footer li:not(:last-child){
        display: inline-block;
        margin-bottom: 1rem; 
    }



