/*
Style Reset
*/
    /*Sélectionner TOUTES les balises du DOM*/
    *{
        /*Supprimer les marges intérieures*/
        padding: 0; 

        /* Supprimer les marges extérieures*/
        margin: 0; 
    }

    /*Ramener la valeur 1rem à 10px*/
    html{
        font-size: 62.5%; 
    }

    body{
        font-size: 1.5rem;   
        /*1.5rem = 15px */
    }

    section {
    margin-bottom: 5rem;
    }

    h1{
        font-size: 3rem; 
        /* 3 fois le font-size de Html (root)*/
    }
    h1 b{
        /*La taille de la font soit toujours 2 fois plus petite que son parent direct*/
        font-size:.5em; 
    }

    /*Style header*/

    header{
        /*Ajouter une bordure de 1px rouge*/
        border: .5rem solid red;  

        /*Ajouter une marge à l'intérieur de la balise*/
        padding: 2rem;

        /*Ajouter une marge à l'extérieur de la balise*/
        margin: 2rem; 
    }

        /*Modifier le type des balises li*/
        li{
            display: inline-block; 
        }


/*Style largeur style*/

 /*Limiter la largeur de header, main et footer à 950px*/
    header, main, footer{
        max-width: 85rem; 

    /*Centrer une balise de type bloc réduite en largeur */
    margin: 2rem auto; 
    }


/* Mise en forme typographique*/

    .presentation{

        /*Modifier la famille de caractères de la font*/
        font-family: "Arial", sans-serif; 

        /*Modifier la taille de la font*/
        font-size: 1.7rem; 

        /* Modifier l'interlignage*/
        line-height: 2em; 

        /*Modifier la graisse de la font*/
        font-weight: bold; 

        /*Ajouter une ombre portée à la font*/
        text-shadow: .5rem .5rem .5rem blue;
    
        /*Modifier la casse de la font*/
        text-transform: uppercase;

        /*Modifier le style de la font (italique)*/
        font-style: italic; 

        /*Modifier la décoration de la font */
        text-decoration: underline; 

        /*Modifier la couleur de la font*/
        color: navajowhite; 

        padding: 2rem;
        background-color: red;
        margin: 4rem auto;
        }

/* Utilisation des couleurs*/
    #portfolio{
        background-color: #960a58; /*Référence hexadécimale*/
        color: navajowhite;   /*Nom intelligible*/
        text-align: center; /*Agit sur les textes et les balises inline*/
    }

    #portfolio article{
        background-color: rgba(236, 6, 135, 0.5); /*Utiliser RGBA pour modifier l'opacité de la couleur */
        color : black;
        padding: 2rem;
        margin: 1rem; 

        /* Faire en sorte d'afficher les articles sur 3 colonnes*/
        display: inline-block; 
    }
    